<!DOCTYPE html>
<html lang='{{ .Page.Params.lang | default "en" }}' dir="{{ .Language.LanguageDirection | default "auto" }}">

<head>
    {{ partial "head.html" . }}
</head>

<body class="{{ if (or (ne .Kind `page` ) (eq .Layout `archives`) (eq .Layout `search`)) -}}{{- print "list" -}}{{ end }}" id="top">
    {{ partialCached "header.html" . .Page }}
    <main class="main">
        {{ block "main" . }}{{ end }}
    </main>
    {{ partialCached "footer.html" . .Layout .Kind (.Param "hideFooter") (.Param "ShowCodeCopyButtons") }}
</body>
    {{ $js_path := "js/main.js" }}
    {{ $mainjs_source := resources.Get $js_path }}
    {{ $mainjs := $mainjs_source | resources.ExecuteAsTemplate $js_path . }}
     <script>{{ $mainjs.Content | safeJS }}</script> 
     {{ if (and (eq .Kind `page`) (eq .Section "posts") ) }}
     {{ $wm_js := resources.Get "js/webmention.js" | resources.Minify }}
     <script src="{{- $wm_js.RelPermalink -}}" data-page-url="{{ .Page.Permalink }}" data-prevent-spoofing="true" async></script>
     {{end}}


</html>
