{{define "main" }}



<article class="post-single h-entry">
  <header class="post-header">
    <h1 class="post-title p-name">
      {{ .Title }}
    </h1>
    <p class="post_meta">
      {{ if not .Date.IsZero }} 
        <time class="dt-published" datetime='{{ .PublishDate.Format "2006-01-02T15:04:05Z0700" | safeHTML}}'>{{ i18n "publish_date_full" . }}</time> 
    &nbsp;·&nbsp;
      {{end}}
      {{ if not (.Param "noreadtime") }} {{ i18n "read_time" .ReadingTime }} &nbsp;·&nbsp;{{end}}
      {{ if not (.Param "nowordcount") }}
      {{ i18n "word_count" . }}
      {{end}}
    </p>
  </header>
  {{ if (.Param "showtoc") }}
  {{ partial "toc.html" . }}
  {{ end }}

  {{ if .Content }}
  <div class="post-content e-content">
    {{ partial "anchored_headings.html" .Content }}
  </div>
  {{ end }}
  
  <footer class="post-footer">
    {{ if .Params.tags }}
    <ul class="post-tags">
      {{ range ($.GetTerms "tags") }}
      <li><a href="{{ .Permalink }}">{{ .LinkTitle }}</a></li>
      {{ end }}
    </ul>
    {{ end }}

    {{ if not .Site.Params.noshowlastmod}}
      {{ if not .Params.noshowlastmod }}
        <hr/>
        <p class="post_meta">
          <time class="dt-updated" datetime='{{ .Lastmod.Format "2006-01-02T15:04:05Z0700" | safeHTML }}'>{{ i18n "lastmod_date_full" . }}</time>
        </p>
      {{end}}
    {{end}}
    {{ if not .Site.Params.noshare}}
      {{if not .Params.noshare}}
        {{ partial "share_icons.html" . }}
      {{ end }}
    {{end}}
    <hr>
    {{ if not .Site.Params.nopostnav }}
      {{ if not .Params.nopostnav }}
        {{ partial "post_nav_links.html" . }}
      {{end}}
    {{ end }}

  </footer>
  {{ if not .Site.Params.nocomment}}
    {{if not .Params.nocomment}}
      {{ if .IsPage }}
        <div id="comment_area">
            <p>Have any comments regarding this post 🤔? Please let me know via Email or Tweet/DM 😺!</p>
        </div>
      {{end}}
    {{end}}
  {{end}}

    {{ if not .Site.Params.nodonation}}
    {{if not .Params.nodonation}}
      {{ if .IsPage }}
        <div class="d_area" id="donation">
            <p>Liked this article or any other work of mine? Please consider <a class="d_link" id="donation_link" href="/contribute">Buying me a Cup of Coffee</a></p>
        </div>
      {{end}}
    {{end}}
  {{end}}

  
</article>

{{ end }}{{/* end main */}}
